<div>
    <form method="post" class="col-md" asp-controller="Gameslist" asp-action="CreateGame">
        <input class="btn btn-dark" type="submit" value="CREATE NEW GAME" />
    </form>
    <Br>
    @foreach (var game in ViewBag.Games)
    {
        <div class="row">
            <div class="col-md">
                <h4>@game.Id</h4>
            </div>
            <form method="post" class="col-md" asp-controller="Gameslist" asp-action="ConnectToGame">
                <input type="hidden" name="gameId" value="@game.Id" />
                <input type="submit" value="Присоеденится" />
            </form>
        </div>
    }
</div>