<div>
    <button type="button" class="btn btn-dark" onclick="GetMessage()">CREATE NEW GAME</button>
    <Br>
    @foreach (var game in ViewBag.Games)
    {
        <div class="row">
            <div class="col-md">
                <h4>@game.Id</h4>
            </div>
            <form method="post" class="col-md" asp-controller="Gameslist" asp-action="ConnectToGame">
                <input type="hidden" name="gameId" value="@game.Id"/>
                <input type="submit" value="Присоеденится" />
            </form>
        </div>
    }
</div>

<script>
    function GetMessage() {
        $.post("/Gameslist/CreateGame");
    }
</script>