@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sea Battle</title>
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="player-field battle-area">
        <div class="battle-area-table">
        </div>
        <input class="btn btn-dark" id="readyBtn" type="submit" value="READY TO PLAY" />
    </div>
    <div class="enemy-field battle-area">
        <div class="battle-area-table">
        </div>
    </div>
    <div id="chatroom">
    </div>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>