    <div class="row justify-content-center align-items-center player-field battle-area">
        <div class="col">
            <h2 class="centerBlock">{{myName}}</h2>
            <div class="battle-area-table centerBlock">
                <div 
                    *ngFor="let cell of myField trackBy: trackItem" 
                    (click)="isReady || PlaceShipClick(cell.x,cell.y)"
                    [ngClass]="CellClass(cell.state,false)">
                </div>
            </div>
            <input [hidden]="isReady" class="btn btn-dark centerBlock" (click)="ReadyClick()" type="submit" value="READY TO PLAY" />
        </div>
    </div>

    <div class="row justify-content-center align-items-center player-field battle-area">
        <div class="col">
            <h2 class="centerBlock">{{opName}}</h2>
            <div class="battle-area-table centerBlock">
                <div *ngFor="let cell of enField" 
                    (click)="!isStart || ShootClick(cell.x,cell.y)"
                    [ngClass]="CellClass(cell.state,true)">
                </div>
            </div>
        </div>
    </div>
